@import '../../Styles/Utils/variables';

.curiosity-style{

    position: relative;
    text-align: left;
    color: $color-primary;
    font-size: 31px;
    font-weight: bold;
    margin: 38px 0;
    margin-left: 20px;
}