@import '../../Styles/Utils/variables';

.registerPet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px; 
    margin-bottom: 40px;
    overflow: hidden; 
    height: 100%;
}

.registerPet-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: $color-primary;
    font-weight: bold;
    width: 300px;
}

.inputbox4 {
    position: relative;
    margin: 5px;
    width: 330px;
    border-bottom: 1px solid $color-primary;
    margin-bottom: 10px;
}

.inputbox4 span {
    background-color: transparent;
    position: absolute;
    left: 5px;
    transform: translateY(-50%);
    color: $color-black;
    font-size: 1.2rem;
    pointer-events: none;
    transition: top 0.5s;
    margin-top: 5px;
}

.inputbox4 input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: $color-gray;
}

//Options
.inputbox4 select {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: $color-gray;
    transition: border-bottom 0.5s;
}

.inputbox4 select:focus {
    border-bottom: 1px solid $color-primary;

}

.inputbox4 select option {
    border: none;
}


//Personality
.inputbox-checkbox {
    margin: 10px;
    
}

fieldset {
    border: 1px solid $color-primary;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: $color-primary;
    
}

.inputbox-checkbox div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    
}

input[type="checkbox"] {
    margin-right: 8px;
    
}

label {
    font-size: 1em;
    color: $color-gray;
    
}

//Textarea
.inputbox4 textarea {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 5px;
    color: $color-gray;
    resize: vertical;
    position: relative;
    margin-top: 10px;
}

.inputbox4 textarea + span {
    position: absolute;
    top: 5px;
    left: 8px;
    color: $color-gray;
    pointer-events: none;
    transition: top 0.5s;
    
}

//Borderless
.inputbox-borderless {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    width: 330px;
    margin-bottom: 10px;
    
    .inputbox-borderless input[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }
    
    .inputbox-borderless input[type="checkbox"] + label::before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid $color-primary;
        border-radius: 4px;
        margin-right: 5px;
    }
    
    .inputbox-borderless input[type="checkbox"]:checked + label::before {
        background-color: $color-primary;
        content: '\2713';
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 12px;
    }
}

//Button
.btn-registerPet {
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin: 30px;

    &:hover {
        background-color: rgb(65, 128, 143);
    }

    &:active {
        background-color: rgb(2, 68, 82);
    }
}




