@import '../../Styles/Utils/variables';

.adoptStatus-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

        .adoptStatus-header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 30px;
            margin-top: 30px;

            .adoptStatus-header-img {
                width: 20px;
                height: auto;
                margin-right: 55px;
            }

            .adoptStatus-h2 {
                font-size: 1rem;
                font-weight: 500;
                color: $color-gray;
                margin: 0;
                margin-right: 75px;
            }
        }

        .adoptStatus-nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;

            span {
                cursor: pointer;
                color: $color-gray;
                text-decoration: none;
                text-align: center;
                padding: 8px 0;
                width: 100%;
                font-weight: 600;

                &.active {
                    border-bottom: 2px solid $color-secondary;
                    color: $color-primary;
                }

            }
        }
    }

    //RESUMEN
.resumen-container {
    .petCard-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        .petCard-h2 {
            font-size: 1.5rem;
            margin-top: 30px;
            margin-bottom: 10px;
            color: $color-primary;
        }

        .ul-forms {
            list-style: none;
            padding: 0;
            width: 100%;

            .petCard-card {
                background-color: $color-white;
                border: 2px solid $color-border;
                width: 80%;
                border-radius: 5px;
                padding: 15px;
                margin-top: 20px;
                margin-bottom: 15px;
            }

            .petCard-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .petCard-h3 {
                font-size: 1rem;
                font-weight: 500;
                color: $color-primary;
                margin: 0;
            }

            .petCard-statusp {
                color: $color-gray;
                margin: 0;
            }
        }

        .petCard-info {
            display: flex;
            align-items: center;

            .petCard-img {
                width: 100px;
                height: 100px;
                border-radius: 50px;
                border: 4px solid $color-border;
                margin-right: 50px;
                margin-top: 10px;
                object-fit: cover;
            }

            .petCard-text {
                text-decoration: none;

                .petCard-p {
                    color: $color-gray;
                    margin: 0;
                    padding-bottom: 10px;


                    .petCard-span {
                        font-weight: bold;
                        color: $color-black;

                    }
                }
            }
        }
    }
}