@import '../../Styles/Utils/variables';

.adoptStatus-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    .adoptStatus-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 30px;
        margin-top: 30px;

        .adoptStatus-header-img {
            width: 20px;
            height: auto;
            margin-right: 55px;
        }

        .adoptStatus-h2 {
            font-size: 1rem;
            font-weight: 500;
            color: $color-gray;
            margin: 0;
            margin-right: 75px;
        }
    }

    .adoptStatus-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;

        span {
            cursor: pointer;
            color: $color-gray;
            text-decoration: none;
            text-align: center;
            padding: 8px 0;
            width: 100%;
            font-weight: 600;


            &.active {
                border-bottom: 2px solid $color-secondary;
                color: $color-primary;
            }
            
        }
    }
}