@import '../../Styles/Utils/variables';

.btn-main {
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1rem;

    &:hover {
        background-color: rgb(65, 128, 143);
    }

    &:active {
        background-color: rgb(2, 68, 82);
    }
}

.btn-small {
    width: 150px; /* Tamaño específico para btn-small */
    height: 30px; /* Tamaño específico para btn-small */
    font-size: 0.8rem; /* Tamaño específico para btn-small */
}

.btn-medium {
    width: 200px; /* Tamaño específico para btn-medium */
    height: 40px; /* Tamaño específico para btn-medium */
    font-size: 1rem; /* Tamaño específico para btn-medium */
}

.btn-large {
    width: 250px; /* Tamaño específico para btn-large */
    height: 50px; /* Tamaño específico para btn-large */
    font-size: 1.2rem; /* Tamaño específico para btn-large */
}

.btn-empty {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1rem;
    
    
    &:hover {
        background-color: rgb(65, 128, 143);
        border: none;
        color: $color-white;
    }
    
    &:active {
        background-color: rgb(2, 68, 82);
    }
}

.btn-pink {
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: $color-secondary;
    color: $color-white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1rem;

    &:hover {
        background-color: rgb(248, 181, 175);
    }
    
    &:active {
        background-color: rgb(251, 132, 121);
    }
}

.btn-empty-pink {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background-color: $color-white;
    color: $color-secondary;
    border: 1px solid $color-secondary;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1rem;
    
    
    &:hover {
        background-color: rgb(248, 181, 175);
        border: none;
        color: $color-white;
    }
    
    &:active {
        background-color: rgb(251, 132, 121);
    }
}
