@import '../../../Styles/Utils/variables';

.profileProtectora-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .profileProtectora-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .profileProtectora-info {
        text-align: left;
        margin-bottom: 20px;
        
        .profileProtectora-h2 {
            margin-bottom: 10px;
            text-align: left;
            font-size: 1.3rem;
            margin-left: 10px;
        }

        .profileProtectora-p {
            background-color: rgba($color-secondary, 0.5);
            color: $color-gray;
            height: 30px;
            text-align: left;
            font-size: 1rem;
            margin: 0;
            margin-bottom: 20px;
            padding-left: 20px;
            text-align: center;
            display: flex;
            align-items: center;
        } 
    }
}


