@import '../../Styles/Utils/variables';

.petCard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .petCard-h2 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 10px;
        color: $color-primary;
    }

    .ul-forms {
        list-style: none;
        padding: 0;
        width: 100%;

        .petCard-card {
            background-color: $color-white;
            border: 2px solid $color-border;
            width: 80%;
            border-radius: 5px;
            padding: 15px;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .petCard-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .petCard-h3 {
            font-size: 1rem;
            font-weight: 500;
            color: $color-primary;
            margin: 0;
        }

        .petCard-status {
            display: flex;
            align-items: center;
        }

        .petCard-statusp {
            margin: 0;
        }

        .petCard-statusColor {
            margin-left: 10px;
            margin-top: 5px;
            width: 15px;
        }
    }

    .petCard-info {
        display: flex;
        align-items: center;

        .petCard-img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            border: 4px solid $color-border;
            margin-right: 50px;
            margin-top: 10px;
            object-fit: cover;
        }

        .petCard-text {
            text-decoration: none;

            .petCard-p {
                color: $color-gray;
                margin: 0;
                padding-bottom: 10px;


                .petCard-span {
                    font-weight: bold;
                    color: $color-black;

                }
            }
        }
    }
}

.petCard-img {
    width: 100px;
}

//Colors
.orange-text {
    color: #F5A623;
    text-decoration: none;
}

.red-text {
    color: #F44332;
    text-decoration: none;
}

.green-text {
    color: #82AF6F;
    text-decoration: none;
}

.orange-status {
    color: #F5A623;
}

.red-status {
    color: #F44332;
}

.green-status {
    color: #82AF6F;
}