@import '../../Styles/Utils/variables';

.sponsor-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;

  .titleSponsor1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $color-primary;
  }

  .pSponsor {
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 15px;
  }

  .titleSponsor2 {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .imgSponsor {
    width: 50px;
    height: 50px;
    margin-top: 5px;
  }

  ul.center-list {
    text-align: left;
    margin: 0 auto;
    width: 100px;
    list-style: none;
    padding-left: 0;
  }

  ul.center-list li {
    display: flex; 
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '\2022'; // Código unicode para un punto
      color: $color-primary;
      font-size: 16px;
      margin-right: 10px; // Espacio entre el punto y el texto
    }
    
  }
  

}