@import "../../Styles/Utils/variables";

.filtro-main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    height: 65px;
}
.slice-button{

    width: 36px;
}
.linkTo{
    height: 50px;
}
.imgX{

    width: 38px;
    margin-left: 95px;
    margin-top: 16px;
}
.main{
    margin-bottom: 20px;
    text-align: center;
    color: rgb(1, 116, 142);
    font-weight: bold;
    margin: 30px;
    margin-left: 140px;
}

.selectOption{
    display: block;
    color: #797979;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 256px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 17px;
    
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
}
.city {

    margin-left: 23px;
    color:rgb(1, 116, 142) ;
}

.especie {
    
    margin-left: 23px;
    color:rgb(1, 116, 142) ;
}

.edad {
    margin-left: 23px;
    color:rgb(1, 116, 142) ;
}

.sexo{
    display: flex;
    width: 340px;
    color:rgb(1, 116, 142) ;
}

.tamaño {
    display: flex;
    width: 340px;
    color:rgb(1, 116, 142) ;
}

.caja {
    display: flex;
    flex-wrap: wrap;
}
.mamif{
    display: contents;
    font-size: 1rem;
}
.size{
    font-size: 1rem;
}
.img {
    margin-top: 10px;
}
.img2 {
    width: 35px;
}
.img3 {
    width: 42px;
}

.no-rosita {
    width: 75px;
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-border;
    border-radius: 18px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    height: 88px;
}
.rosita {
    width: 75px;
    color: $color-secondary;
    background-color: $color-white;
    border: 1px solid ;
    border-color: $color-secondary;
    border-radius: 18px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    height: 88px;
}


.no-rositas{
    width: 82px;
    height: 90px;
    padding: 10px;
    text-decoration: none;
    border-radius: 18px;
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.rositas{
    width: 82px;
    height: 90px;
    padding: 10px;
    text-decoration: none;
    border-radius: 18px;
    color: $color-secondary;
    background-color: $color-white;
    border: 1px solid $color-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-marcos {

    display: flex;
    
}

.macho{
    
    margin-left: 20px;
}
.letras {
    margin: 4px;
    font-size: 16px;
}
.fotoyp{

    display: flex;
    margin-left: 20px;

    .fotop{

        width: 23px;
    }
       .pequeño {
        font-size: 14px;
        margin: 16px;
       }
    

    .foto2{
        width: 38px;
    }
        .mediano{
         font-size: 16px;
         margin: 7px;
    }

    .foto3 {
        width: 52px;
    }
        .grande{
         font-size: 16px;
         margin: 6px;
    }

}
.botones-pink{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 27px;
    .btn-pink{
        width: 333px; /* Tamaño específico para btn-medium */
        height: 40px; /* Tamaño específico para btn-medium */
        font-size: 1rem; /* Tamaño específico para btn-medium */
    }

}
.botones-rosita{
    display: flex;

.no-filters{
    width: 160px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background-color: $color-white;
    color: $color-secondary;
    border: 1px solid $color-secondary;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1rem;
}
.yes-filters{
    width: 160px;
    height: 40px;
    padding: 10px;
    background-color: $color-secondary;
    color: $color-white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1rem;
    position: relative;
    top: 10px;
    margin-left: 20px;
}
}
