@import '../../../Styles/Utils/variables';

.shelterPets-container {
    height: 90vh;
    margin-bottom: 100px;
    .shelterPets-h2 {
        font-size: 1.3rem;
        font-weight: bold;
        color: $color-primary;
        text-align: center;
        margin-bottom: 10px;
    }

    .shelterPets-ul {
        list-style: none;
        padding: 0;

        .shelterPets-card {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $color-border;
            border-radius: 5px;
            width: 300px;
            height: 150px;
            margin-left: 35px;
            margin-bottom: 20px;
            padding: 10px;

            .shelterPets-img {
                border-radius: 50%;
                margin-right: 30px;
                width: 100px;
                height: 100px;
                border: 3px solid $color-primary;
                object-fit: cover;
            }

            .shelterPets-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;

                .shelterPets-p {
                    margin: 0;
                    margin-bottom: 5px;
                    font-size: 1rem;
                    color: $color-gray;

                    .shelterPets-span {
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }
            }

            
        }
    }
}
          
.content-botun{
    
    display: flex;
    justify-content: center;

    .botun-rosita{
    
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: $color-secondary;
    color: $color-white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 100px
}
}