@import './variables';

//Desktops
@media only screen and (min-width: $desktop) {
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header {
        font-size: 1.5rem;
    }
}

//Tablets
@media only screen and (min-width: #{$tablet}) and (max-width: #{$desktop - 1}) {
    .main-container {
        max-width: 90%;
    }

    .header {
        font-size: 1.2rem;
    }
}

//Móviles
@media only screen and (max-width: #{$tablet - 1}) {
    .main-container {
        padding: 10px;
    }

    .header {
        font-size: 1rem;
    }
}