// Tamaños pantallas
$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;

//Colores principales
$color-primary: rgb(1, 116, 142);
$color-secondary: rgb(250, 156, 147);
$color-black: rgb(45, 45, 45);
$color-gray: rgb(85, 85, 85);
$color-white: rgb(255, 255, 255);