@import '../../Styles/Utils/variables';

.petProfile-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .adoptStatus-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 30px;
        margin-top: 30px;

        .adoptStatus-header-img {
            width: 20px;
            height: auto;
            margin-right: 25px;
            margin-left: 30px;
        }
    }

    .petProfile-header {
        position: relative;
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;   
        margin-bottom: 40px;     

        .pet__header--img {
            width: 100%;
            height: 200px;
            object-position: center;
            object-fit: cover;
            overflow: hidden;
            z-index: 1;
        }
    }

    .petProfile-headerBox {
        position: absolute;
        display: flex;
        width: 50%;
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $color-white;
        border-radius: 5px;
        z-index: 2;
        margin-top: 150px;
        padding: 20px;
        

        .petProfile-headerBox-text{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            width: 40%;

            .petProfile-headerBox-img {
                width: 25px;
            }
    
            .petProfile-headerBox-h1{
                font-size: 1rem;
                font-weight: 400;
                color: $color-gray;
                margin-bottom: 0;
                margin-top: 0;
            }
    
            .petProfile-headerBox-h2 {
                font-size: 0.8rem;
                font-weight: 400;
                color: $color-gray;
                margin-top: 0;
                margin-left: 20px;
            }
        }

        .petProfile-headerBox-icons {
            display: flex;
            justify-content: center;
            align-items: center;

            .petProfile-headerBox-icons1,
            .petProfile-headerBox-icons2 {
                padding-left: 10px;
                width: 30px;
            }
        } 
    }

    .petProfile-nav {
        left: 0;
        width: 90%;
        background-color: $color-white;
        z-index: 1000;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        span {
            cursor: pointer;
            color: $color-gray;
            text-decoration: none;
            text-align: center;
            padding: 8px 0;
            width: 100%;
            font-weight: 500;
    
            &.active {
                border-bottom: 2px solid $color-secondary;
                color: $color-primary;
            }
    
        }
    }

     //DATOS
    .petProfile-datos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        
        .petProfile-datos-info {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-right: 50px;
            
    
            .datos-info-img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
    
            .datos-info-preg {
                font-size: 1rem;
                color: $color-gray;
                margin-right: 10px;
            }
    
            .datos-info-resp {
                font-size: 1rem;
                color: $color-gray;
    
            }
        }
    
        .petProfile-personality {
    
            .petProfile-personality-p {
                font-size: 1rem;
                color: $color-primary;
                font-weight: 500;
                margin-right: 250px;
            }
    
            .petProfile-personality-list {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
            }
            
            .petProfile-personality-list li {
                margin: 5px;
                padding: 5px 10px;
                border-radius: 25px;
                color: #fff;
                background-color: $color-primary;
            }
        }
    
        .history-box {
            width: 90%;
            padding: 0 10px;
            font-size: 1rem;
            border: 1px solid $color-border;
            border-radius: 5px;
            color: $color-gray;
            margin-bottom: 10px;
        
            .history-title {
                font-size: 1rem;
                font-weight: 500;
                color: $color-primary;
            }
        }
    
        .petProfile-datos-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
    
            .btn-empty-pink {
                width: 100px;
                margin-right: 10px;
            }
        
            .btn-pink {
                width: 100px;
                margin-top: 10px;
            }
        }
    }

    //SALUD
    .petProfile-salud-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;

        .petProfile-salud-info {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-right: 170px;
            
    
            .datos-info-img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
    
            .datos-info-preg {
                font-size: 1rem;
                color: $color-gray;
                margin-right: 10px;
            }
    
            .datos-info-resp {
                font-size: 1rem;
                color: $color-gray;
    
            }
        }

        .history-box {
            width: 100%;
            padding: 0 10px;
            font-size: 1rem;
            border: 1px solid $color-border;
            border-radius: 5px;
            color: $color-gray;
            margin-top: 30px;
            margin-bottom: 77px;
        
            .history-title {
                font-size: 1rem;
                font-weight: 500;
                color: $color-primary;
            }
        }

        .petProfile-datos-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
    
            .btn-empty-pink {
                width: 100px;
                margin-right: 10px;
            }
        
            .btn-pink {
                width: 100px;
                margin-top: 10px;
            }
        }
    }

    //ADOPTION

    .petProfile-adoption-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        .history-box {
            width: 100%;
            padding: 0 10px;
            font-size: 1rem;
            border: 1px solid $color-border;
            border-radius: 5px;
            color: $color-gray;
            margin-top: 30px;

        
            .history-title {
                font-size: 1rem;
                font-weight: 500;
                color: $color-primary;
            }

            .petProfile-helpIcon {
                width: 20px;
                margin-left: 10px;                
            }
        }
        .petProfile-datos-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 143px;
            position: sticky;
            margin-bottom: 20px;
    
            .btn-empty-pink {
                width: 100px;
                margin-right: 10px;
            }
        
            .btn-pink {
                width: 100px;
                margin-top: 10px;
            }
        }
    }

    // ALERT
    .btn-empty-pink {
        width: 100px;
        margin-right: 10px;
    }

    .btn-pink {
        width: 100px;
        margin-top: 10px;
    }

}



