@import '../../Styles/Utils/variables';

.asociaciones-container {
    max-width: 600px;
    font-size: 16px;
    border-radius: 5px;
    color: $color-primary;
    font-family: 'Barlow';
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    h2 {
        margin-top: 0px;
        font-size: 12px;
    }

    &>ul {
        list-style: none;
        padding: 0;

        li {
            display: block;
            margin-bottom: 2px;

            h2 {
                font-size: 18px;
                margin-bottom: 15px;
            }

            .datos-protectora {

                display: flex;
                align-items: center;

                li {
                    white-space: wrap !important;
                }

                .azul-text {
                    font-size: 14px;
                    margin: 4px 0;
                    color: $color-primary;
                }

                .imagen-protectora {
                    max-width: 80px;
                    border-radius: 5px;
                    margin-right: 20px;
                    border: 1px solid;
                }

                p {
                    font-size: 14px;
                    margin: 4px 0;
                    color: $color-gray;
                }
            }
        }

        &>li {
            margin-bottom: 20px;

        }
    }
}