@import '../../Styles/Utils/variables';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;600;700&display=swap');

$base-ocean: rgb(1, 116, 142);

.asociaciones-container {
    max-width: 600px;
    font-size: 16px;
    border-radius: 5px;
    color: $base-ocean;
    font-family: 'Barlow';

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    &>ul {
        list-style: none;
        padding: 0;

        li {
            display: block;
            margin-bottom: 2px;

            h2 {
                font-size: 18px;
                margin-bottom: 15px;
            }

            .datos-protectora {

                display: flex;
                align-items: center;

                li {
                    white-space: wrap !important;
                }

                .azul-text {
                    font-size: 14px;
                    margin: 4px 0;
                    color: $base-ocean;
                }

                .imagen-protectora {
                    max-width: 80px;
                    border-radius: 5px;
                    margin-right: 20px;
                    border: 1px solid;
                }

                p {
                    font-size: 14px;
                    margin: 4px 0;
                    color: grey;
                }
            }
        }

        &>li {
            margin-bottom: 20px;

        }
    }
}